@model IEnumerable<WhiteBook.Models.CyberThreat>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Descr)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Date)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.CountrySource)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CyberThreatType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RadicalOrganization)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RiskyLevel)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Descr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CountrySource.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CyberThreatType.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RadicalOrganization.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RiskyLevel.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
